#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

DEB_INSTALL_EXAMPLES_bottlecapsplusd += debian/examples/*
DEB_INSTALL_MANPAGES_bottlecapsplusd += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix bottlecapsplusd USE_ASM=1 USE_LEVELDB=1
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f bottlecapsplus-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake bottlecapsplus-qt.pro USE_ASM=1 USE_LEVELDB=1

# Ensure wrapper is set executable
binary-post-install/bottlecapsplusd:
	chmod +x $(cdbs_curdestdir)usr/bin/bottlecapsplusd
binary-post-install/bottlecapsplus-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/bottlecapsplus-qt
